body {
  margin: 0;
  background: url(logo.svg);
  background-position: center top ;
  background-repeat: no-repeat;
  background-size: 400px, 100% 100%;
  display: flex;
}

.frase {
  padding: 2rem 14rem;
  width: 800px;
  height: 225px;
  text-align: center;
}

.frase h1 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  padding-left: 4rem;
  position: relative;
  font-size: 2.5rem;
}

.frase h1::before {
  content: open-quote;
  font-size: 7rem;
  color: black;
  position: absolute;
  left: -1rem;
  top: -2rem;
}

.frase h1::after {
  content: close-quote;
  font-size: 7rem;
  color: black;
  position: absolute;
  right: -5rem;
  top: -2rem;
}

.frase p {
  font-family: 'Amatic SC', cursive;  
  font-size: 2rem;
  color: #666;
  text-align: right;
  margin-top: 2rem;
}

.contenedor {
  display: flex;
  align-items: center;
  padding-top: 15rem;
  flex-direction: column;
}

button {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: .8rem 1.3rem;
  background-color: rgb(12, 86, 50);
  border: 2px solid black;
  border-radius: .5rem;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: rgb(18, 133, 79);
  border: 2px solid black;
  border-radius: .5rem;
}